# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List of popular languages that Data Scientists use
- Commonly used libraries used by Data Scientists
- Data science tools
- Introduction of arithmetic expression

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy 
4. Pandas
5. Matplotlib

|Data Science Tools|
|------------------|
|MySQL|
|Ceph|
|Apache AirFlow|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [8]:
#Exercise 8 - Create a code cell to multiply and add numbers

#This a simple arithmetic expression to multiply then add integers.

(3*4)+5

17

In [9]:
#Exercise 9 - Create a code cell to convert minutes to hours

#This will convert 200 minutes to hours by dividing by 60.

200//60

3

## Author
Chi Wai NG (Eddie)